@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes darkToLightFadeIn {
    100% {
        opacity: 1;
        background-color: #f7f7f7; /* Light color for the tracker page */
      }
   
    0% {
        opacity: 0;
        background-color: #0a1128; /* Same dark blue as the navbar/home */
      }
      
    }
  
  .animate-darkToLightFadeIn {
    animation: darkToLightFadeIn 3s ease-in-out forwards; /* Adjust 3s to change the duration */
  }
  